body{
    font-family: 'Lato', sans-serif;
}

.navbar-vertical{
    height: 840px;
    background-color: #2C2C2C;
}

.img-profile{
    border-radius: 50%;
    border: 3px solid white;
    float: left;
    margin-right: 13px;
}

.label-profile{
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    padding-left: 70px;
    border-left: 7px solid #FAE90E;
    font-size: 1.3rem;
    padding: 15px 0px 15px 80px;
    background-color: #000000;
}
.nav-pills .nav-link {
    border-radius: 0px;
}

.nav-pills .nav-link {
    border-radius: 0px;
    padding-left: 70px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 15px 0px 15px 80px;
}

.far, .fas{
    color: #FAE90E;
    margin-right: 15px;
}

.name-company{
    font-size: 1.5rem;
    padding: 10px 0px 10px 15px;
    color: white;
    font-weight: 600;
}

.message-for-user{
    color: white !important;
    font-size: 1.1rem;
    padding: 5px 30px 5px 30px;
}

.dude{
    margin-top: 15px;
    text-align: center;
}

.information-basic{
    background-color: #FAE90E;
}

#banner {
    height: 393px;
    background-color: #ffffff;
    margin-bottom: 0px;
}

.information-basic {
    background-color: #2C2C2C;
    padding: 100px 400px;
    margin-left: 0px;
}

.hr-vertical {
    height: 100%;
    width: 0;
    border: 1px solid #ffffff;
    margin: 0px 10px 0px 10px;
}

.name-company-big{
    font-size: 3rem;
    color: white;
    padding: 44px 0px;
    font-weight: bold;
    color: white;
    padding: 44px 0px;
    font-weight: bold;
}

.information-company{
    background-image: url(../img/background-1.svg);
    margin-left: 0px;
}

.title-new-promotions{
    width: 100%;
    text-align: center;
    color: #fffffd;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 40px 0px;
    border-right: 2px solid #FAE90E;
}

.ultimate-promotions{
    padding: 100px;
    background-image: url(../img/background-2.svg);
    background-repeat: no-repeat;
    margin-left: 0px;
}

.card-title{
    font-weight: 800;
    font-size: 1rem;
}

.label-card-date{
    color: #4d4c4ca8 !important;
    font-size: 0.9rem;
}

.card{
    background-color: #f1f1f1;
    width: 247px;
    margin-bottom: 25px;
}

.card-text{
    font-size: 0.95rem;
    color: #454444f0;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
}

.card-img-top{
    height: 230px;
    border-radius: 3px;
    width: 245px;
    background-size: 245px 230px;
}

.card-img-top:hover{
    height: 230px;
    border-radius: 3px;
    width: 245px; 
    background-size: 245px 230px;
}
.card-body{
    padding: 10px;
}

.btn-message-send, .btn-save, .btn-comment{
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
    padding-left: 15px;
    border: none;
}

.btn-message-send .fab, .btn-save .far, .btn-comment .far{
    margin-right: 5px !important;
    color: white;
}


.btn-message-send:hover, .btn-save:hover, .btn-comment:hover{
    background-color: #1e1e1ea8;

}

.image-upper-1{
    position: relative;
    top: 580.3px;
    left: 183px;
    z-index: 1;
    width: 120px;
    height: 109px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.8s ease-out;
}

.image-upper-2{
    position: relative;
    top: 400.2px;
    left: -137px;
    z-index: 3;
    width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.8s ease-out;
}

.image-upper-3{
    position: relative;
    top: 370.2px;
    left: 283px;
    z-index: 3;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.8s ease-out;
} 

.image-upper-4{
    position: relative;
    top: 360.2px;
    left: -157px;
    z-index: 3;
    width: 110px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.8s ease-out;
} 

.image-upper-5{
    position: relative;
    top: 300.2px;
    left: 183px;
    z-index: 1;
    width: 185px;
    height: 185px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.8s ease-out;
} 

.container-promotions {
    position: absolute;
    margin-left: 170px;
    margin-top: -480px;
}

.image-down{
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.8s ease-out;
}

.image-upper-1 .show-more{
    color: white !important;
    background-color: #1f1f1f85;
    width: 120px;
    height: 109px;
    margin: 0;
    padding: 20px 5px;
}

.image-upper-2 .show-more{
    color: white !important;
    background-color: #1f1f1f85;
    width: 170px;
    height: 170px;
    margin: 0;
    padding: 49px 5px;
    text-align: center;
    font-size: 1.5rem;
}

.image-upper-3 .show-more{
    color: white !important;
    background-color: #1f1f1f85;
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 24.3px 5px;
    font-size: 0.9rem;
    text-align: center;
}

.image-upper-4 .show-more{
    color: white !important;
    background-color: #1f1f1f85;
    width: 110px;
    height: 110px;
    margin: 0;
    padding: 30px 5px;
    font-size: 1.2rem;
    text-align: center;
}

.image-upper-5 .show-more{
    color: white !important;
    background-color: #1f1f1f85;
    width: 185px;
    height: 185px;
    margin: 0;
    padding: 50px 15px;
    font-size: 1.7rem;
    text-align: center;
}

.image-down .show-more{
    color: white !important;
    background-color: #1f1f1f85;
    width: 200px;
    height: 200px;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    padding: 50px 30px;
}

.show-more{
    display: none;
}

.image-upper-1:hover .show-more, .image-upper-2:hover .show-more, .image-upper-3:hover .show-more,
.image-upper-4:hover .show-more,.image-upper-5:hover .show-more,.image-down:hover .show-more{
    display: block;
}

.image-upper-1:hover, .image-upper-2:hover, .image-upper-3:hover,
.image-upper-4:hover,.image-upper-5:hover,.image-down:hover{
    transform: scale(1.1);
    z-index: 3;
}

.outstanding{
    background-image: url(../img/background-3.svg);
    text-align: center;
    padding-top: 40px;
    height: 500px;
    background-size: cover;
}

.outstanding h1{
    font-size: 3rem;
    color: #2C2C2C;
    font-weight: bold;
}

.outstanding hr{
    background-color: #2C2C2C;
    width: 50%;
    height: 5px;
}

.container-products{
    background-color: white;
    height: auto;
}

.fn-bar{
    background-color: #FAE90E;
    height: 200px;
}

.for-nav-promotions{
    color: #2C2C2C !important;
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    font-size: 2.3rem;
    padding: 60px 0px 0px 60px;
}

.hr-nav-promotions{
    background-color: #2C2C2C;
    height: 5px;
    width: 90%;
    border-radius: 3px;
}

.input-search{
    float: left;
    border-radius: 0px !important;
    height: 50px !important;
    background-color: white !important;
    width: 70% !important;
    font-size: 1.2rem;
}

.btn-search {
    background-color: #2C2C2C;
    border-radius: 0px;
    height: 50px;
    border: 1px solid #2C2C2C;
    width: 100%;
    padding-left: 20.2px;
    font-size: 2rem;
    color: white;
}

.select-fill{
    height: 50px;
    border: none;
    background-color: #2C2C2C;
    color: #fae90e;
    font-size: 1.3rem;
    padding: 0px 15px 0px 15px;
    border-right: 1px solid;
}

@media (min-width: 1200px){
    .container-products{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 80px 40px;
    }
}

.price-message{
    color: #131212c7 !important;
    font-size: 0.8rem;
    font-weight: 600;
}

.distributed{
    font-size: 0.8rem;
    font-weight: 600;
}

.price-title{
    margin-bottom: 0; 
    color: #000000; 
    font-size: 1.2rem; 
    font-weight: 600;
}

.progress-bar{
    height: 4px;
    background-color: #fae90e;
    margin: 0px;
    margin-right: 90px;
}

.time{
    font-weight: 500;
    float: right;
    font-size: 0.7rem;
}

.btn-add-buy{
    width: 100%;
    background-color: #fae90e;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    padding: 7px 9px;
}

.btn-yellow-modal{
    color: white !important;
    background-color: #FAE90E;
    border-color: #FAE90E;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 5.6px 15px;
}

.modal-header{
    border-bottom: 4px solid #2C2C2C;
}

.modal-footer{
    border-top: 4px solid #2C2C2C;
}

.modal-title{
    font-size: 1.8rem;
    font-weight: 600;
    color: #2C2C2C;
}

.container-image-profile{
    background-image: url(../img/0.png);
    margin: auto;
    width: 160px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-image-profile .show-more {
    color: white !important;
    background-color: #1f1f1f85;
    width: 160px;
    height: 160px;
    margin-top: -23.9px;
    padding: 59px 5px;
    text-align: center;
    font-size: 1.5rem;
}

.update-image-company{
    float: right;
    margin: 10px;
    font-size: 1.5rem;
    color: #2C2C2C;
}
.container-image-profile:hover .show-more{
    display: block;
}

.container-image-profile:hover .update-image-company{
    display: none;
}

.update-fields{
    background-image: url(../img/background-4.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0px;
    min-height: 650px;
    padding: 48.7px 61.8px;
}


.title-h1-hr h1{
    font-size: 3rem;
    color: #2C2C2C;
    font-weight: bold;
}

.title-h1-hr hr{
    background-color: #2C2C2C;
    width: 100%;
    height: 5px;
}

.btn-outline-warning{
    margin-left: 38.6%;
    border: 2px solid #FAE90E !important;
    font-size: x-large;
    color: #FAE90E;
    font-weight: bolder;
}

.btn-outline-warning:hover {
    color: #2C2C2C !important;
    background-color: #FAE90E;
}

.edit-fields {
    font-size: 1.8rem;
    color: #2C2C2C;
}

#create-fields-update{
    padding: 10px 10px 10px 10px;
    transition: transform 0.8s ease-out;
}

#create-fields-update:hover{
    transform: scale(1.1);
}