body{
    background-color: #2C2C2C;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container-logo{
    align-content: center;
    margin-left: auto;
    margin-bottom: 10px;
    width: 120px;
}

.logo-company{
    width: 120px;
    border-radius: 5px;
    margin-bottom: 30px;
}

label{
    font-size: 20px;
    font-weight: bolder;
    color: #212529ab;
    margin: 5px 0px 5px 0px;
}

.form-control{
    margin-bottom: 15px;
}

.title-create{
    text-align: center;
    margin-bottom: 15px;
}

.input-group-text{
    background-color: #FAE90E;
    color: white;
    font-weight: 600;
}

#map-company{
    width: 683.9px;
    height: 480px;
    border-radius: 5px;
}

.contain-fields{
     padding: 20px 40px 20px 40px;
     max-width: 40%;
}

.label-publicity{
    color: white;
    font-weight: lighter;
}

.social{
    padding-left: 27%;
    margin: 25px 0px 25px 0px;
}

.social .form-control{
    width: 16%;
    display: initial;
    margin-right: 15px;
}

.col-hr-vr{
    padding: 0px;
    padding: 0.8% 0 0.8% 0;
    max-width: 25px;
}

.hr-vertical{    
    height:60%; /* you might need some positioning for this to work, see other questions about 100% height */
    width:0;
    border:1px solid #ffffff;
}

.social .form-control:focus{
    width: 25%;
    display: initial;
}

.map-position{
    max-width: 60%;
    padding: 20px 0px 0px 0px;
}

#btn-registrar{
    background-color: #FAE90E;
    border-radius: 1.55rem;
    border: none;
    height: 55px;
    color: white;
    padding: 5px 25px 5px 25px;
    font-weight: 600;
    font-size: 1.3rem;
}

.btn-register-container{
    padding-left: 40%;
    margin-bottom: 30px;
}

#text-direction{
    height: 120px !important;
}

input[type='text'], input[type='password'], #select-country, #text-direction, .w-do-area{
    width: 100%;
    padding-left: 14px;
    border: none;
    height: 45px;
    border-radius: 1.35rem;
    background-color: #f4f4f4;
}

input[type=text]:focus, input[type="password"]:focus, #select-country:focus, #text-direction:focus, .w-do-area:focus{
    color: #495057;
    background-color: #fff;
    border-color: #7b7b7b !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(84, 84, 84, 0.18) !important;
}


.w-do-area{
    height: 160px;
    width: 100%;
    padding-left: 14px;
    border: none;
    background-color: #ededed;
    border-radius: 2px;
}

.w-do-area:focus{
    background-color: white;
}

input[type="file"]{
    height: 0px;
    overflow: hidden;
    width: 0px;
}

.background-cool{
    background-color: #2C2C2C;
    padding-top: 80px;
    padding-bottom: 50px;
}

#banner{
    height: 600px;
    background-color: #ffffff;
    margin-bottom: 130px
}

.message-publicity{
    text-align: center;
    margin-top: 150px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.label-banner{
    font-size: 19px;
    transition: transform 0.8s ease-out;
    background-color:  #2C2C2C;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid white;
    color:white;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 15px;
    width: 98%
}

.label-banner:hover, .label-logotype:hover{
    transform: scale(0.9);
}

.information{
    max-width: 1200px;
    background-color: white;
    padding: 30px 20px 30px 20px;
}

.position-carousel{
    position: initial;
    height: 393px;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.add-banner {
    position: relative;
    display: inline-block;
    width: 320px;
    left: 2%;
  }
  
.add-banner .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -60px;
  }
  
.add-banner .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
  
.add-banner:hover .tooltiptext {
    visibility: visible;
}

.logotype-container{
      width: 200px;
      height: 180px;
      border-radius: 5px;
      border: 3px solid white;
      margin: 300px 0px 30px 8%;
      background-color: #fee600e3;
      position: absolute;
      left: 0px;
      top: 219px;
      z-index: 3;
  }

  .label-logotype{
      border-radius: 5px;
      padding: 7px 10px 7px 10px;
      background-color: #2C2C2C;
      color: white;
      font-size: 14px;
      transition: transform 0.8s ease-out;
      position: relative;
      z-index: 2;
  }

  .logotype {
    position: relative;
    display: inline-block;
    width: 140px;
  }
  
  .logotype .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -60px;
  }
  
  .logotype .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .logotype:hover .tooltiptext {
    visibility: visible;
  }

@media (min-width: 1200px){
  .container {
        max-width: 1200px;
        background-color: #ffffff;
        margin-bottom: 50px;
        border-radius: 5px;
  }
}

.fst{
    background-color: #FAE90E;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.fst h2{
    font-weight: bold;
    color: white;
}

.fn{
    background-color: #FAE90E;
    height: 40px;
}

.container-wallpaper{
    width: 100%;
    height: 600px;
    background: #CCC;
    overflow: hidden;
}

.logotype-box{
    width: 100%;
    height: 173.7px;
    overflow: hidden;
    position: relative;
    top: -45px;
}

.container-wallpaper img{
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

.logotype-box img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@supports(object-fit: cover){
    .container-wallpaper img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .logotype-box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}