body{
    background-color: white;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.login-div{
  background-color: #ffffff;
  height: auto;
  width: 500px;
  margin: 120px auto;
  border-radius: 6px;
  padding: 30px 60px 30px 60px;
  border: 0.4px solid #80808017;
}

.logotype-client{
  border-radius: 5px;
  margin: 25px 110px 15px 130px
}

.logotype-login {
    border-radius: 5px;
    margin: 25px 110px 15px 120px
}

input[type='text'], input[type='password']{
    width: 100%;
    padding-left: 14px;
    border: none;
    height: 45px;
    border-radius: 1.35rem;
    background-color: #f4f4f4;
}

input[type=text]:focus, input[type="password"]:focus{
    color: #495057;
    background-color: #fff;
    border-color: #7b7b7b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(84, 84, 84, 0.18);
}

label{
    font-size: 18px;
    font-weight: bolder;
    color: #212529ab;
    margin: 25px 0px 10px 0px;
}

.btn-logotype{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #f5e723;
    padding: 3px 10px 3px 10px;
}

.title-begin{
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.checkbox {
    margin: 15px 0px 4px 3px;
    width: 100%;
  }
  .checkbox .tag {
    color: #595959;
    display: block;
    font-weight: bold;
    width: 120px;
  }
  .checkbox label{
    display: inline;
  }
  .checkbox .input-assumpte {
    display: none;
  }
  .input-assumpte + label:after {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    transition-duration: 0.3s;
    width: 16px;
    height: 16px;
    content: '';
    margin-left: 7px;
  }

  .input-assumpte:checked + label:after {
    background-color: rgba(245, 231, 35, 0.726);
  }
  
  .title-h2{
    color: #595959;
    font-weight: bold;
  }

.sign-up{
    margin-top: 120px;
  }
  
  .sign-up label{
    font-size: 16px; 
    font-weight: bold; 
  }

.terms{
  color: #595959;
  font-size: 0.9rem;
}

.container-fluid{
  background-color: #FAE90E;
  height: 40px;
}

.valid-feedback {
    color: #212529 !important;
    padding-left: 5%;
    font-size: 0.8rem;
    font-weight: 600;
}

.form-control.is-valid{
  border-color: #007bff;
  padding-right: calc(1.5em + .75rem);
  background-image: url(../icons/check.svg) !important;
}

.form-control.is-valid:focus{
  border-color: #007bff !important;
  box-shadow: 0 0 0 0.2rem rgba(29, 58, 201, 0.25) !important;
  background-image: url(../icons/check.svg) !important;
}