.backgrounds-divs{
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-attachment: fixed;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.name{
    font-size: 2rem;
}

.big-title{
    color: #f0f0f0;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.p-banner{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.container-logotype {
    height: 80px;
    width: 80px;
    margin-right: 0.8%;
    background-size: cover;
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
}

.nav-link{
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.border-active{
    border: 2px solid black;
}

.history {
    text-align: center;
    padding: 2.5% 5%;
}

.h2-title{
    font-size: 1.8rem;
    color: #575757;
    font-family: 'Lato', sans-serif;
    
}

.hr-horizontal{
    border: 3.3px solid #4b4b4b;
    border-radius: 3px;
    margin-bottom: 12.1px;
}

.p-history{
    font-size: 1.2rem;
    color: #404040;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}

.icons-show-information{
    margin-top: 4%;
    font-size: 2.5rem;
    color: #2e2e2e
}

.hr-icons{
    border: 2px solid #1C1C1C;
    width: 25%;
}

.down-icons-description{
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 28.4px;
}

.container-information{
    font-size: 1.1rem;
    padding: 5px 10.1px;
    color: #000000ba;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.transparenci{
    position: relative;
    top: 0px ;
    left: 0px;
    z-index: 2;
}

.icons i{
    margin-bottom: 79.2%;
    font-size: 1.8rem;
    color: #434343b8;
}

.container-icons{
    width: 3%;
    margin: 4.3% 3%;
}

.direction{
    padding: 31.9% 0% 4.9% 57.6%;
    color: white;
}

.pictures img{
    width: 140px;
}

.more-pictures{
    margin-top: 5%;
}

.pictures{
    float: left;
    width: 130px;
}

.nav-tabs {
    border: none;
    width: 100%;
}

.nav-tabs a{
    color: #ffffff;
}

.nav-tabs .nav-link {
    border: none; 
}

.nav-tabs .nav-link.active {
    color: #000000 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 1.25rem;
}

.description{
    background-color: #1C1C1C;
    height: 643px;
    border-radius: 9.95rem;
    width: 340px;
    float: right;
    z-index: 2;
    position: relative;
    top: -100px;
    left: -85px;
    padding: 3.3% 2%;
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 25%;
}


.desconunt-circle{
    width: 100%;
    background: white;
    height: 300px;
    position: relative;
    top: -10px;
    color: black;
    font-size: 8.2rem;
    padding: 12.4%;
    font-weight: bold
}

.description h4{
    font-weight: bold;
    font-size: 1.7rem;
}

.description p{
    font-size: 1.1rem;
    font-weight: 500;
}

.description hr{
    height: 5px;
    background-color: white;
    margin-right: 65%;
}

.image-product{
    float: left;
}

.rounded-pill{
    background: #1C1C1C;
    border: 3.8px solid white;
    color: white;
    padding: 7.3px 30.4px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 9.8%;
    margin-top: 15px;
}

.last-price{
    font-size: 1rem;
}

.last-price label{
    text-decoration: line-through;
}

.for-between{
    background-color: white;
}

.recients{
    float: left;
}

.contain-backimage{
    width: 100%;
    height: 220px;
    float: left;
    background-size: cover;
}


.title-new-promotions {
    width: 100%;
    text-align: center;
    color: #fffffd;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 40px 0px;
    border-right: 2px solid white;
}

.center-recients{
    padding: 2% 3%;
}

.container-recientes-center{
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 32px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 32px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 32px -14px rgba(0,0,0,0.75);
}

.container-recientes-corner{
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 32px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 32px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 32px -14px rgba(0,0,0,0.75);
}


.descount{
    width: 0;
    height: 0;
    border-top: 75px solid #1C1C1C;
    border-right: 100px solid transparent;
}

.price-descount{
    color: white;
    position: relative;
    top: -70.4px;
    left: 5.7px;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.product{
    height: 200px;
    background-size: cover;
    width: 100%; 
}

.description-recients a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

.description-recients hr{
    height: 5px;
    background-color: #1C1C1C;
    margin-top: 4px;
    margin-bottom: 4px;
}

.description-recients .rounded-pill{
    margin-left: 4.7%;
}

.description-recients{
    padding: 5%;
}

.center{
    padding: 2% 3%;
}

.panel-nav i{
    font-size: 2rem;
}

.panel-nav label{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.nav-link-vertical i{
    padding: 3%;
    font-size: 1.8rem;
}



.nav-link-vertical label{
    font-size: 1.3rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #1DA1F2;
    background-color: transparent;
}

.nav-pills a:hover{
    background-color: #dbdbdb26;
    color: #ffdf01;
}

.active-bv{
    color: #ffdf01;
}

.rounded-pill-pills {
    border-radius: 50rem!important;
    background: white;
    color: black;
}

.home-header{
    padding: 0% 2%;
    border-top: 0px;
    background-color: white;
}

.container-publications{
    background-color: #E6ECF0;
    padding-left: 0.5px;
    padding-right: 0.5px;
    padding-bottom: 0.2px;
}

.write-publications{
    background-color: white;
    height: auto;
    margin-top: 0.8px;
    padding: 25px;
    margin-bottom: 9px;
}


.w-publication{
    float: right;
    padding-top: 15px;
}

.ref-profile{
    float: left;
    padding: 2px 19px;
}

#rol-text {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    color: #666666fa;
    position: relative;
    z-index: 2;
}

#rol-text:focus{
    outline: white;
}

#placeholder-8h7gt {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    color: #666666fa;
    position: relative;
    z-index: 1;
    top: -32px;
}

.icons-actions{
    width: 25px;
}

#image-file{
    width: 0px;
    display: none;
}

.row-actions{
    font-size: 1.3rem;
    padding: 10px 50px 5px 50px;
}

.rounded-pill-finish{
    background: #ffdf01;
    border: 3.8px solid white;
    color: white;
    padding: 4.4px 26px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 1.50rem;
}

.nav-link-vertical {
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    height: 48px;
    padding-left: 20px;
    padding-top: 4px;
    margin-bottom: 15px;
}

.send-attracted{
    bottom: 0px;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.delete{
    width: 25px;
    float: right;
    margin: 5px 9px;
}

.one-image{
    width: 530px;
    height: 330px;
    background-size: cover;
    border-radius: 8px;
}

.two-image{
    width: 265px;
    height: 330px;
    background-size: cover;
    border-radius: 8px;
    float: left;
    margin-right: 7.5px;
}

.tree-image {
    width: 265px;
    height: 330px;
    background-size: cover;
    border-radius: 8px;
    float: left;
    height: 160px;
    margin: 0px 0px 5px 5px;
}

.four-image {
    width: 265px;
    height: 330px;
    background-size: cover;
    border-radius: 8px;
    float: left;
    height: 160px;
    margin: 0px 0px 5px 5px;
}

.information-publications{
    background-color: white;
    padding: 3%;
    margin-bottom: 5px;
}

.name-company-p{
    font-size: 1rem;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}

.email-direction{
    color: gray;
    font-family: 'Lato',sans-serif;
}

#description-publication{
    padding: 1% 5%;
    font-family: 'Lato', sans-serif;
    color: #323232;
}

#container-image-divs{
    border-radius: 15px;
    border: 1px solid #c0c0c0;
    margin-left: 11%;
    width: 77.8%;
    margin-bottom: 9px;
}

.number-actions {
    font-size: 1rem;
    padding: 4.5px 20px 0px 0px;
}

.close-modal{
    position: fixed;
    top: 40px;
    left: 1310px;
    z-index: 2
}

.modal-content{
    align-items: center;
    background-color: #0d0d0d;
}

.inputs-survey:focus{
    outline: transparent;
}


.p-inputs{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.add-more{
    border-radius: 100%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 0;
    color: #FAE90E;
    position: relative !important;
    top: -33.2px;
    left: 445.4px;
}

.close-survey{
    position: relative;
    top: -45px;
    left: -5.6px;
    margin-bottom: 5px;
}

.border{
    padding: 25px;
    border: none!important;
    width: 90%;
}

.disabled{
    opacity: 0.5;
}

.label-add {
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    left: 45px;
}

.inputs-addproduct{
    margin-bottom: 25px;
}

.categary-product{
    overflow: auto;
    height: 70%;
    width: 70%;
    margin-top: 50px;
    padding: 0px 25px;
}

#list-desordered:focus{
    outline: white;
}

.item-list{
    list-style: none;
    margin-bottom: 3px;
}

.products{
    background-color: white;
    margin-bottom: 15px;
    border-radius: 1.65rem;
}

.add-pictures-label{
    color: #2C2C2C;
    font-size: 1.2rem;
    font-weight: 500;
}

.container-images-product{
    height: 330px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin-bottom: 25px;
}

.add-photos{
    padding: 10px 22px;
    border: 3px solid #FAE90E;
    border-radius: 5px;
    color: #2C2C2C;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 25% 0 0 30.3%;
}

.message-limit{
    font-size: 0.9rem;
    padding: 12px 95px 0px 95px;
    color: gray;
}

.other-images{
    border: 1px solid #cfcfcf;
    height: 110px;
    float: left;
    font-size: 2.5rem;
    opacity: 0.5;
}

.active-add{
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 500;
    font-family: 'Lato',sans-serif;
}

.remove-fields-products{
    position: relative;
    top: -3.2px;
    left: 163px;
    margin-bottom: 5px;
}

#image-product{
    width: 0px;
    display: none;
}

.remove-image-product{
    position: relative;
    top: 3px;
    left: 17px;
}

.image-products-divs{
    background-size: cover;
    opacity: 1;
}


.label-imgother {
    margin: 31px 0 0 0px;
    font-size: 0.9rem;
}

.other-images i{
    margin: 35px 65px;
}

.container-image-product{
    float: left;
    border: 1px solid #8080804a;
    border-radius: 5px;
}

  .box{
    width: 348px;
    height: 190px;
    background: #CCC;
    overflow: hidden;
  }

  .box img{
    width: 100%;
    height: auto;
  }


@supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }


  .descount-label {
    position: relative;
    top: 11px;
    left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


.new-price{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 7px;
}

.last-price{
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 4px;
}

.description-recients{
    border-radius: 5px;
    position: relative;
    top: -26.1px;
    z-index: 1;
}

.btn-actions-buys{
    border-radius: 5px;
    background-color: #1C1C1C;
    border: none;
    color: #ffdf01;
    padding: 8px 10px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    font-size: 1rem;
    float: right;
    margin-right: 8px;
}

.p-product-space{
    padding: 0px 10px;
    margin-bottom: 25px;
}

.alert-message{
    background-color: #f5e723;
    color: white;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: fixed;
    top: 610px;
    left: 560px;
    z-index: 5;
}

#alert-files-size{
    width: 420px;
    display: none;
}

.ilumination:hover{
    background-color: #f5e723;
}

.description-message{
    font-size: 1rem;
    font-weight: 500;
    color: #2C2C2C;
}

.description-message:hover{
    color: rgba(44, 44, 44, 0.842);
}

.label-add-close{
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    left: -325px;
    padding: 9.8px; 
    top: 20px;  
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7b7b7b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(84, 84, 84, 0.18);
}

.rounded-input-text{
    border-radius: 1.35rem;
    background-color: #e6e6e626;
    margin-bottom: 25px !important;
}

.input-group{
    width: 70%;
}

.rounded-right{
    border-bottom-right-radius: 6rem !important;
    border-top-right-radius: 6rem !important;
    height: 38.3px;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 58.1px;
    height: 21px;
    float: left;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15.4px;
    width: 13.8px;
    left: 4.7px;
    top: 2.3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:checked + .slider {
    background-color: #494949;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #494949;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .active-promotion{
    padding-left: 4px;
    color: #494949 !important;
  }

  .text-muted{
    float: right;
  }


  .separador {
    background-color: #FAE90E;
    height: 30px;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.form-control{
    margin-bottom: 15px;
}

.label-fields{
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 500;
    padding: 5px;
}

.quantity-input__modifier {
    padding: 0rem;
    width: 2rem;
    font-size: 1.3rem;
    background: #f3f3f3;
    color: #888;
    border: 0 solid #dbdbdb;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
}

.quantity-input__screen {
    padding: 0rem;
    width: 3.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    background: #ffffff;
    color: #2C2C2C;
    font-weight: 600;
    border: 2px solid #FAE90E;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.quantity-input{
    text-align: center;;
}

.quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
}

.duration-select {
    width: 30.7%;
    height: 35px;
    float: left;
    margin-right: 7.6px;
}

.increment-decrement{
    outline: 5px auto #d9d9d9;;
}

#map {
    height: 100%;
}


.image-principal-profile{
    align-items: center;
    align-content: center;
    padding-left: 44.7%;
}

.icons-presentation{
    color: white;
    background-color: #2E2E2E;
    padding: 25px;
    border-radius: 0.45rem;
}

.container-item-nav{
    height: auto;
    border-radius: 5px;
    border: 1px solid #8080808c;
}

.icons-response{
    font-size: 1.6rem;
    margin-right: 12px;
}

.return{
    padding-left: 5%; 
    font-size: 1.7rem;
}

.exclamation-simbol{   
    font-size: 4.2rem;
    color: #ffdf01;
    padding-left: 42.5%;
}


.btn-color-accept{
    background-color: #ffdf01;
    color: white;
    font-weight: 500;
    border-color: #ffdf01;
}

.btn-color-accept:active , .btn-color-accept:hover{
    color: white !important;
    background-color: #ffdd01d8 !important;
    border-color: #c69500;
}

.print-a {
    float: right;
    color: #232323 !important;
}

.print-a:hover{
    float: right;
    color: #000000 !important;
    text-decoration: underline !important;
    cursor: pointer;
}